*.log
*.last-run
GoSublime/
linters
Package Control.cache
Package Control.merged-ca-bundle
Package Control.system-ca-bundle
Default ().sublime-keymap

# this plugin copies theme files here for some reason...
SublimeLinter

# ignore main preferences
Preferences.sublime-settings
